* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer,
.hero {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
}

h1 {
  margin: 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
}

header,
.section {
  padding-left: 200px;
  padding-right: 200px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image-placeholder {
  background-color: grey;
  color: #f9faf8;
  padding: 75px 150px 75px 150px;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-content p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
  margin-bottom: 9px;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  width: 120px;
  height: 30px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 90px;
}

.information h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 20px;
}

.information p {
  text-align: center;
}

.information-list {
  display: flex;
  flex-direction: row;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 150px;
  height: 150px;
  border-color: #3882f6;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 250px 100px 250px;
}

.inspiring-quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quotee {
  text-align: right;
  font-weight: 700;
  font-size: 25px;
}

.container {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 100px;
  color: white;
  padding: 50px;
}

.call-to-action {
  padding-top: 60px;
  padding-bottom: 60px;
}

.call-to-action div button {
  border: white;
  border-width: 2px;
  border-style: solid;
}

.call-to-action div div h2,
p {
  margin: 0;
}
