* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer,
.hero {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
}

h1 {
  margin: 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
}

header,
.section {
  padding-left: 200px;
  padding-right: 200px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image-placeholder {
  background-color: grey;
  color: #f9faf8;
  padding: 75px 150px 75px 150px;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-content p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
  margin-bottom: 9px;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  width: 120px;
  height: 30px;
}
